<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Adicionar produtos ao orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-item>
    <ion-label position="stacked"><strong>Código: </strong></ion-label>
    <ion-input type="number"></ion-input>
  </ion-item> 
  
  <ion-item>
    <ion-label position="stacked"><strong>Código do orçamento: </strong></ion-label>
    <ion-input type="number"></ion-input>
  </ion-item> 
  
  <ion-item>
    <ion-label position="stacked"><strong>Descrição: </strong></ion-label>
    <ion-input></ion-input>
  </ion-item> 
  
  <ion-item>
    <ion-label position="stacked"><strong>Valor: </strong></ion-label>
    <ion-input></ion-input>
  </ion-item> 
  
  <ion-item>
    <ion-label position="stacked"><strong>Qunatidade: </strong></ion-label>
    <ion-input type="number"></ion-input>
  </ion-item> 

  <ion-item>
    <ion-label position="stacked"><strong>Foto: </strong></ion-label>
    <ion-input  placeholder="https://" ></ion-input>
  </ion-item> 

</ion-content>
