<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Cadastro de Orçamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <ion-item>
    <ion-label position="stacked"><strong>Código: </strong></ion-label>
      <ion-input [(ngModel)]="orcamento.codigo" type="number"></ion-input>
    </ion-item> 
 
    <ion-item>
      <ion-label position="stacked"><strong>Cliente: </strong></ion-label>
      <ion-select multiple="false" [(ngModel)]="orcamento.cliente">
      <ion-select-option  *ngFor="let cliente of listaClientes" >{{cliente.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
   
    <ion-item>
      <ion-label position="stacked"><strong>Tipo: </strong></ion-label>
      <ion-select [(ngModel)]="orcamento.tipo" multiple="false">
      <ion-select-option *ngFor="let tipo of tipos" [value]="tipo.valor">{{tipo.descricao}}</ion-select-option>
      </ion-select>
    </ion-item>
   
    <ion-item>
      <ion-label position="stacked"><strong>Valor: </strong></ion-label>
        <ion-input [(ngModel)]="orcamento.valor" ></ion-input>
    </ion-item> 
 
    <ion-item>
      <ion-label position="stacked">Descrição:</ion-label>
      <ion-textarea [(ngModel)]="orcamento.descricao" placeholder="Descrição"></ion-textarea>
    </ion-item>
 <br>
    <ion-button color="success" (click)="adicionarProdutos()">Adicionar Produtos</ion-button> 

    <ion-fab vertical="bottom"  horizontal="end">
      <ion-fab-button (click)="salvar()">
        <ion-icon name="checkmark" ></ion-icon> 
      </ion-fab-button> 
    </ion-fab> 

</ion-content>
