<ion-header [translucent]="true">
  <ion-toolbar  color="secondary">
    <ion-title>
      Informações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h2> Trabalho 02 - Aplicativo Ionic - 15/12/2020 </h2>
    <p> Requisitos (5,0) - Equipe </p>
    <p> (2,0) 5 componentes do Ionic (Exemplo: ion-button) e multi-página(rotas) </p>
    <p> (3,0) Mínimo de 2 (dupla) ou 3 (trio) CRUDs (Create, Retrieve, Updatee Delete) com no mínimo 5 campos de cada (variar tipos, usardiferentes componentes. Ex.: ion-input, ion-select, ion-datetime, etc.).</p>
    <p> Apresentação / Responder as perguntas (2,5) - Individua</p>
    <p> Criatividade / Originalidade / Interface diferenciada (2,5) - Equipe</p>
</ion-content>
