.titulo{
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  
  .lista{
    background-color: rgb(70, 161, 235);
    color: rgb(255, 255, 255);
    padding-left: 15px;
  }
  
  .font1{
    color: rgb(120, 120, 221);
  }
  
  .azul1{
    background-color: rgb(108, 113, 187);
  }
  
  .vermelho1{
    background-color: rgb(136, 0, 0);
  }